<a href="https://colab.research.google.com/github/VIKASMN77/Data-Cleaning-and-Preprocessing/blob/main/Datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mdsadikujjamanshihab/sales-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mdsadikujjamanshihab/sales-dataset?dataset_version_number=1...

100%|██████████| 143k/143k [00:00<00:00, 624kB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/mdsadikujjamanshihab/sales-dataset/versions/1

In [5]:
import os

# List files in the downloaded dataset path
print(os.listdir(path))

['synthetic_sales_data.csv']

In [28]:
import pandas as pd
import os

# Correct file path
csv_file = os.path.join(path, "synthetic_sales_data.csv")

# Load the dataset
df = pd.read_csv(csv_file)

# Preview
print(df.head(10))

  TransactionID        Date      Time CustomerID ProductID     ProductName  \
0      TRN00001   8/18/2023   2:25:00    CUS0802   PROD016        Keyboard
1      TRN00002   6/11/2023  19:13:00    CUS0933   PROD017        Keyboard
2      TRN00003  10/16/2024  16:24:00    CUS0054   PROD003         Monitor
3      TRN00004   6/23/2023  20:08:00    CUS0872   PROD009  Software Suite
4      TRN00005    7/9/2024  14:39:00    CUS0376   PROD001      Headphones
5      TRN00006    6/6/2023  18:19:00    CUS0166   PROD014      Headphones
6      TRN00007  10/30/2024   4:53:00    CUS0405   PROD017         Monitor
7      TRN00008   6/14/2024   2:12:00    CUS0910   PROD001  Software Suite
8      TRN00009  11/19/2023  15:28:00    CUS0923   PROD008          Webcam
9      TRN00010    9/1/2024  20:51:00    CUS0128   PROD001      Headphones

      Category  Quantity  UnitPrice  DiscountApplied  TotalPrice  \
0  Peripherals         2      38.03             0.24       57.81
1  Peripherals         3      94.34             0.11      251.89
2  Peripherals         4     300.77             0.11     1070.74
3     Software         4     380.02             0.03     1474.48
4  Accessories         2      38.26             0.28       55.09
5  Accessories         3     166.11             0.14      428.56
6  Peripherals         1     483.37             0.13      420.53
7     Software         6     288.30             0.16     1453.03
8  Accessories         4     136.96             0.26      405.40
9  Accessories         6     117.91             0.13      615.49

     PaymentMethod   Region SalespersonID  CustomerAge     CustomerGender
0             Cash    North         SP022         47.0  Prefer Not to Say
1  Online Transfer     West         SP064         40.0              Other
2      Credit Card  Central         SP064         39.0  Prefer Not to Say
3      Credit Card     West         SP100         52.0              Other
4  Online Transfer  Central         SP054         47.0             Female
5             Cash    North         SP076         39.0             Female
6  Online Transfer     West         SP094         51.0              Other
7             Cash    North         SP051         36.0               Male
8      Credit Card     West         SP047          NaN              Other
9       Debit Card    North         SP087         21.0             Female

In [13]:
# See how many nulls in each column
print(df.isnull().sum())

# Option 1: Drop missing values (simplest)
df = df.dropna()

TransactionID       0
Date                0
Time                0
CustomerID          0
ProductID           0
ProductName         0
Category            0
Quantity            0
UnitPrice           0
DiscountApplied     0
TotalPrice          0
PaymentMethod       0
Region              0
SalespersonID       0
CustomerAge        79
CustomerGender     67
dtype: int64

In [18]:
df = df.drop_duplicates()
# Example for 'Gender' column (change if different)
if 'Gender' in df.columns or 'gender' in df.columns:
    col = 'Gender' if 'Gender' in df.columns else 'gender'
    df[col] = df[col].str.lower().str.strip().replace({'male': 'Male', 'female': 'Female'})
# Automatically convert columns with 'date' in their name
for col in df.columns:
    if 'date' in col.lower():
        df[col] = pd.to_datetime(df[col], errors='coerce')


df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")
# Example: make sure 'quantity' and 'price' are numeric
if 'quantity' in df.columns:
    df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
if 'unit_price' in df.columns:
    df['unit_price'] = pd.to_numeric(df['unit_price'], errors='coerce')

# Remove rows where conversion failed
df = df.dropna()

In [19]:
df.to_csv("cleaned_sales_data.csv", index=False)
print("Cleaned data saved as 'cleaned_sales_data.csv'")

Cleaned data saved as 'cleaned_sales_data.csv'

In [25]:
import pandas as pd

# Load the cleaned CSV
df_cleaned = pd.read_csv("cleaned_sales_data.csv")

# Print the first few rows
print(df_cleaned.head(20))

   transactionid        date      time customerid productid     productname  \
0       TRN00001  2023-08-18   2:25:00    CUS0802   PROD016        Keyboard
1       TRN00002  2023-06-11  19:13:00    CUS0933   PROD017        Keyboard
2       TRN00003  2024-10-16  16:24:00    CUS0054   PROD003         Monitor
3       TRN00004  2023-06-23  20:08:00    CUS0872   PROD009  Software Suite
4       TRN00005  2024-07-09  14:39:00    CUS0376   PROD001      Headphones
5       TRN00006  2023-06-06  18:19:00    CUS0166   PROD014      Headphones
6       TRN00007  2024-10-30   4:53:00    CUS0405   PROD017         Monitor
7       TRN00008  2024-06-14   2:12:00    CUS0910   PROD001  Software Suite
8       TRN00010  2024-09-01  20:51:00    CUS0128   PROD001      Headphones
9       TRN00011  2024-05-23   9:18:00    CUS0273   PROD013  Software Suite
10      TRN00012  2024-10-18   7:28:00    CUS0106   PROD001          Tablet
11      TRN00013  2024-06-21  10:26:00    CUS0300   PROD013         Monitor
12      TRN00014  2024-12-17  18:30:00    CUS0113   PROD012  Software Suite
13      TRN00015  2024-09-28  15:04:00    CUS0609   PROD007         Monitor
14      TRN00017  2023-07-30   0:43:00    CUS0270   PROD002           Mouse
15      TRN00018  2023-03-18   1:54:00    CUS0818   PROD003         Monitor
16      TRN00019  2023-12-15  18:46:00    CUS0884   PROD002  Software Suite
17      TRN00020  2023-09-05   7:45:00    CUS0493   PROD006          Laptop
18      TRN00021  2023-09-01  22:58:00    CUS0413   PROD009        Keyboard
19      TRN00022  2024-11-07  21:20:00    CUS0289   PROD006         Monitor

       category  quantity  unitprice  discountapplied  totalprice  \
0   Peripherals         2      38.03             0.24       57.81
1   Peripherals         3      94.34             0.11      251.89
2   Peripherals         4     300.77             0.11     1070.74
3      Software         4     380.02             0.03     1474.48
4   Accessories         2      38.26             0.28       55.09
5   Accessories         3     166.11             0.14      428.56
6   Peripherals         1     483.37             0.13      420.53
7      Software         6     288.30             0.16     1453.03
8   Accessories         6     117.91             0.13      615.49
9      Software         2     380.95             0.03      739.04
10  Electronics         3     505.16             0.03     1470.02
11  Peripherals         4     104.55             0.25      313.65
12     Software         3     199.56             0.10      538.81
13  Peripherals         3     285.89             0.12      754.75
14  Peripherals         1      24.23             0.27       17.69
15  Peripherals         4     467.11             0.25     1401.33
16     Software         1     306.57             0.14      263.65
17  Electronics         5     969.91             0.12     4267.60
18  Peripherals         3      94.49             0.26      209.77
19  Peripherals         1     402.41             0.02      394.36

      paymentmethod   region salespersonid  customerage     customergender
0              Cash    North         SP022         47.0  Prefer Not to Say
1   Online Transfer     West         SP064         40.0              Other
2       Credit Card  Central         SP064         39.0  Prefer Not to Say
3       Credit Card     West         SP100         52.0              Other
4   Online Transfer  Central         SP054         47.0             Female
5              Cash    North         SP076         39.0             Female
6   Online Transfer     West         SP094         51.0              Other
7              Cash    North         SP051         36.0               Male
8        Debit Card    North         SP087         21.0             Female
9   Online Transfer  Central         SP036         27.0               Male
10       Debit Card    North         SP015         24.0  Prefer Not to Say
11             Cash  Central         SP028         22.0               Male
12      Credit Card     West         SP064         65.0  Prefer Not to Say
13       Debit Card  Central         SP033         33.0              Other
14             Cash  Central         SP020         34.0               Male
15       Debit Card    South         SP029         48.0               Male
16      Credit Card     East         SP020         42.0               Male
17  Online Transfer    South         SP046         35.0  Prefer Not to Say
18             Cash    North         SP094         23.0              Other
19             Cash  Central         SP061         46.0              Other

In [29]:
# Check how many null values exist in each column
print(df_cleaned.isnull().sum())
print("Number of rows and columns:", df_cleaned.shape)

transactionid      0
date               0
time               0
customerid         0
productid          0
productname        0
category           0
quantity           0
unitprice          0
discountapplied    0
totalprice         0
paymentmethod      0
region             0
salespersonid      0
customerage        0
customergender     0
dtype: int64
Number of rows and columns: (4855, 16)